
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #f1f5f9;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.tracking-elegant {
  letter-spacing: 0.3em;
}

.tracking-soft {
  letter-spacing: 0.15em;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
